<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>6393E2D4-B953-4A32-96A1-CB73A5DAF2D9</string>
			<string>E33D56E8-D391-4788-A699-7371B22E0E67</string>
			<string>------------------------------------</string>
			<string>1C045812-FFC6-48B7-B7A3-EA2B5D56A855</string>
			<string>------------------------------------</string>
			<string>CCA5D37F-4070-4045-8A22-42A1B08D62AA</string>
			<string>------------------------------------</string>
			<string>9F3538AE-8DD0-420F-84CD-BDBE5E95A295</string>
			<string>6B7352EB-E467-4C3B-8B6A-B268ACF9466E</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>1C045812-FFC6-48B7-B7A3-EA2B5D56A855</key>
			<dict>
				<key>items</key>
				<array>
					<string>8D8CFBA5-3B71-4A3F-882B-9A461DD8C008</string>
					<string>CF1D8E92-F4D7-4E20-9376-0037D9552AA3</string>
					<string>1DBBC316-15D8-4D72-A1B8-D928D644D7D4</string>
				</array>
				<key>name</key>
				<string>Debugger actions</string>
			</dict>
			<key>9F3538AE-8DD0-420F-84CD-BDBE5E95A295</key>
			<dict>
				<key>items</key>
				<array>
					<string>745D8AEA-162A-47DE-B8D9-DD1421E1CFEE</string>
				</array>
				<key>name</key>
				<string>Snippets</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>IPython</string>
	<key>ordering</key>
	<array>
		<string>6B7352EB-E467-4C3B-8B6A-B268ACF9466E</string>
		<string>6393E2D4-B953-4A32-96A1-CB73A5DAF2D9</string>
		<string>E33D56E8-D391-4788-A699-7371B22E0E67</string>
		<string>8D8CFBA5-3B71-4A3F-882B-9A461DD8C008</string>
		<string>CF1D8E92-F4D7-4E20-9376-0037D9552AA3</string>
		<string>1DBBC316-15D8-4D72-A1B8-D928D644D7D4</string>
		<string>CCA5D37F-4070-4045-8A22-42A1B08D62AA</string>
		<string>59D7CA34-7681-43E5-8964-53F132110218</string>
		<string>2E8EFEC2-BDBF-4465-9290-0760BEC3F10D</string>
		<string>745D8AEA-162A-47DE-B8D9-DD1421E1CFEE</string>
	</array>
	<key>uuid</key>
	<string>47B7578F-6F5F-4D20-813A-3BC3B3EF202A</string>
</dict>
</plist>
